.event_form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.event_form > div {
    display: flex;
    margin: 0px -12px 16px;
}
.event_form .field {
    display: flex;
    flex-direction: column;
    flex: 1 0 0px;
    margin: 0 12px;
}
.event_form label {
    margin-bottom: 5px;
}
.event_form .field > input, .event_form .field > select {
    width: 100%;
    box-sizing: border-box;
}
