{% load staticfiles %}
{% load lokaleplan %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{% block title %}{% endblock %}</title>
<!--<meta name="viewport"
content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
-->
<meta name="referrer" content="origin" />
<link rel="stylesheet" type="text/css"
href="{% static 'lokaleplan/style.css' %}" />
{% block head %}{% endblock %}
</head>
<body>
<nav>
<ul class="container">
<a href="/"><li>Lokaleplan</li></a>
<a href="{% lokaleplan_url 'events' %}"><li>Programtabel</li></a>
<a href="{% lokaleplan_url 'locations' %}"><li>Lokaletabel</li></a>
<a href="{% lokaleplan_url 'participants' %}"><li>Holdtabel</li></a>
</ul>
</nav>
<div class="container">
{% block content %}{% endblock %}
</div>
</body>
</html>
