{% extends "lokaleplan/base.html" %}
{% block title %}Program{% endblock %}
{% block content %}
<h1>Program</h1>
<table class="event_list">
<thead>
<th>Dag</th>
<th>Start</th>
<th>Slut</th>
<th>Vist tid</th>
<th>Navn</th>
<th>Lokaler</th>
<th>Hold</th>
</thead>
<tbody>
{% for event in event_list %}
<tr>
    {% ifchanged event.parallel_key %}
    <td>{{ event.day }}</td>
    <td>{{ event.start_time }}</td>
    <td>{{ event.end_time }}</td>
    <td>{{ event.manual_time }}</td>
    <td><a href="{% url 'event_update' pk=event.pk %}">{{ event.name }}</a></td>
    {% else %}
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    {% endifchanged %}
    <td>{% for participant in event.participants.all %}{{ participant }}
        {% endfor %}</td>
    <td>{% for location in event.locations.all %}{{ location }}
        {% endfor %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
