{% extends "lokaleplan/base.html" %}
{% block title %}Den store tabel{% endblock %}
{% block content %}
<h1>Den store tabel</h1>
{% for table in tables %}
<h2>{{ table.name }}</h2>
<table class="event-table">
<thead>
<tr>
    <th>Tidspunkt</th>
    {% for h in table.header %}
    <th>{{ h }}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for row in table.rows %}
<tr>
    <th>{{ row.time_display }}</th>
    {% for cell in row.cells %}
    {% if cell.span %}
    <td rowspan="{{ cell.span }}"
        class="{% if cell.text %}{% else %}empty{% endif %}">
	{{ cell.text }}
    </td>
    {% endif %}
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endfor %}
{% endblock %}
