{% extends "lokaleplan/base.html" %}
{% load staticfiles %}
{% block title %}Redigér programpunkt{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css"
href="{% static 'lokaleplan/event_form.css' %}" />
<script src="{% static 'react/react.js' %}"></script>
<script src="{% static 'react/react-dom.js' %}"></script>
<script src="{% static 'lokaleplan/event_form.js' %}"></script>
{% endblock %}
{% block content %}
<h1>Redigér programpunkt</h1>
<form method="post" id="event_form">{% csrf_token %}
{{ form.errors }}
<div class="participants">{{ form.participants }}</div>
{% for p in form.participant_fields %}
<h2 class="participant-name">{{ p.participant }}</h2>
<div id="p{{ p.participant.pk }}"><div class="field">
<div class="participant event_form">
    <div class="time">
    <div class="field">{{ p.day.label_tag }}{{ p.day }}</div>
    <div class="field">{{ p.start_time.label_tag }}{{ p.start_time }}</div>
    <div class="field">{{ p.end_time.label_tag }}{{ p.end_time }}</div>
    </div>
    <div class="name">
    <div class="field">{{ p.name.label_tag }}{{ p.name }}</div>
    </div>
    <div>
    <div class="field">{{ p.manual_time.label_tag }}{{ p.manual_time }}</div>
    </div>
</div></div>
</div>
{{ p.locations }}
{% endfor %}
<input type="submit" value="Gem" />
</form>
{% endblock %}
