{% extends "lokaleplan/base.html" %}
{% load lokaleplan %}
{% block title %}Lokaleplan{% endblock %}
{% block content %}
<h1>Lokaleplan</h1>
<p><a href="{% lokaleplan_url 'import' %}">Importér gammel lokaleplan</a></p>
<p>Hent holdprogrammer som <a href="{% lokaleplan_url 'participants-pdf' %}">PDF</a>
eller <a href="{% lokaleplan_url 'participants-tex' %}">LaTeX</a></p>
<p><a href="{% lokaleplan_url 'location_list' %}">Tilføj/fjern lokaler</a></p>
<p>Se program for:</p>
{% for participants in groups %}
<p>
{% for participant in participants %}
<a href="{% lokaleplan_url 'participant_detail' pk=participant.pk %}">
{{ participant }}</a>
{% endfor %}
</p>
{% endfor %}
<p>Hvis du sletter lokaleplanen, kan den kun tilbagekaldes af en administrator.</p>
<form method="post" action="{% lokaleplan_url 'session_delete' %}">{% csrf_token %}
    <input type="submit" value="Slet lokaleplan">
</form>
<p>Med nedenstående formular kan du tilføje andre brugere til at se og redigere lokaleplanen.</p>
<form method="post" action="{% lokaleplan_url 'add_user' %}">{% csrf_token %}
    {{ add_user_form.as_p }}
    <input type="submit" value="Tilføj bruger">
</form>
{% endblock %}
