{% extends "lokaleplan/base.html" %}
{% load lokaleplan %}
{% block title %}{{ participant }}{% endblock %}
{% block content %}
<h1>{{ participant }}</h1>
<div class="participant-schedule">
{% for day in days %}
<table>
<thead>
    <tr>
        <th>{{ day.name }}</th>
        <th></th>
    </tr>
</thead>
<tbody>
{% for event in day.events %}
<tr><td class="time">{{ event.get_display_time }}</td>
    <td class="name">
        <div>
        <a class="event-link" href="{% url 'event_update' pk=event.pk %}">
        {{ event.name }}</a>
        </div>
        <div>
        {% for location in event.locations.all %}
        {% table_link day.key location %}
        {% endfor %}
        </div>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endfor %}
</div>
{% endblock %}
