{% for day in days %}
<h1>{{ day.name }}</h1>
<table border=1>
<thead>
<tr>
    <th>Tidspunkt</th>
    {% for location in day.locations %}
    <th>{{ location }}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for row in day.rows %}
<tr>
    <th>{{ row.time_display }}</th>
    {% for cell in row.cells %}
    {% if cell.span %}
    <td rowspan="{{ cell.span }}">
        {% for event in cell.events %}
        {{ event }}
        {% endfor %}
    </td>
    {% endif %}
    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endfor %}
